<div class="py-5 container">
  <div class="row justify-content-center align-items-center flex-wrap">
    <div class="col-lg-4 col-sm-6">
      <img src="./assets/img/banner/banner-1.jpg" width="100%" alt="error" />
      <div class="text-center px-3 py-2">
        <h4 class="text-primary-emphasis">
          {{ "home.homecategories.clothing" | translate }}
        </h4>
        <button class="btn btn-outline-secondary mt-2">
          {{ "home.homecategories.button" | translate }}
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="./assets/img/banner/banner-2.jpg" width="100%" alt="error" />
      <div class="text-center px-3 py-2">
        <h4 class="text-primary-emphasis">
          {{ "home.homecategories.accessories" | translate }}
        </h4>
        <button class="btn btn-outline-secondary mt-2">
          {{ "home.homecategories.button" | translate }}
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <img src="./assets/img/banner/banner-3.jpg" width="100%" alt="error" />
      <div class="text-center px-3 py-2">
        <h4 class="text-primary-emphasis">
          {{ "home.homecategories.shoesspring" | translate }}
        </h4>
        <button class="btn btn-outline-secondary mt-2">
          {{ "home.homecategories.button" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="py-2 bg-secondary text-center text-white">
  <h3>{{ "home.homecategories.free" | translate }}</h3>
</div>

<div class="py-5 container">
  <div class="row justify-content-center align-items-center flex-wrap">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <img src="./assets/img/product/product-3.jpg" width="100%" alt="error" />
      <div class="py-2">
        <h5 class="text-primary-emphasis">$ 100</h5>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <img src="./assets/img/product/product-5.jpg" width="100%" alt="error" />
      <div class="py-2">
        <h5 class="text-primary-emphasis">$ 100</h5>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <img src="./assets/img/product/product-11.jpg" width="100%" alt="error" />
      <div class="py-2">
        <h5 class="text-primary-emphasis">$ 100</h5>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <img src="./assets/img/product/product-14.jpg" width="100%" alt="error" />
      <div class="py-2">
        <h5 class="text-primary-emphasis">$ 100</h5>
      </div>
    </div>
  </div>
</div>
