.dashdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15em;
  min-height: 100vh;
}

.margintop {
  margin-top: 5em;
}

:host {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .dashdiv {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 0vh;
    gap: 0em;
  }

  .margintop {
    margin-top: 0em;
  }
}
