<div class="container py-5 divwidth">
  <div
    class="w-100 d-flex flex-column px-3 align-items-center justify-content-center"
  >
    <div class="px-2 py-3 text-center divground text-white text-dark rounded-2">
      <img
        [src]="productDetails().imageCover"
        width="40%"
        class="mb-3"
        alt="error"
      />

      <h5 class="fw-semibold text-center">
        {{ productDetails().description }}
      </h5>

      <h5 class="fw-semibold text-center">
        <span class="text-success">Rate :</span>
        {{ productDetails().ratingsAverage }}
      </h5>
      <div
        class="d-flex flex-column align-items-center justify-content-center mt-3"
      >
        <button class="btn btn-secondary" (click)="_Location.back()">
          {{ "profile.back" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
