<div
  class="py-5 container formwidth d-flex flex-column align-items-center justify-content-center"
>
  <form
    [formGroup]="regesterForm"
    (ngSubmit)="hundelRegester()"
    class="w-100 d-flex flex-column gap-3"
  >
    <div class="d-flex flex-column gap-2">
      <label for="name">{{ "regester.name" | translate }}</label>
      <input
        formControlName="name"
        class="form-control w-100"
        type="text"
        id="name"
      />

      @if (regesterForm.get("name")?.errors &&
      (regesterForm.get("name")?.touched || regesterForm.get("name")?.dirty)) {
      @if (regesterForm.get("name")?.getError("required")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.namerequired" | translate }}
      </div>
      } @else if (regesterForm.get("name")?.getError("minlength")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.namelynath" | translate }}
      </div>
      } }
    </div>

    <div class="d-flex flex-column gap-2">
      <label for="email">{{ "login.email" | translate }}</label>
      <input
        formControlName="email"
        class="form-control w-100"
        type="email"
        id="email"
      />

      @if (regesterForm.get("email")?.errors &&
      (regesterForm.get("email")?.touched || regesterForm.get("email")?.dirty))
      { @if (regesterForm.get("email")?.getError("required")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.emailrequired" | translate }}
      </div>
      } @else if (regesterForm.get("email")?.getError("email")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.email" | translate }}
      </div>
      } }
    </div>

    <div class="d-flex flex-column gap-2">
      <label for="password">{{ "login.password" | translate }}</label>
      <input
        formControlName="password"
        class="form-control w-100"
        type="password"
        id="password"
      />

      @if (regesterForm.get("password")?.errors &&
      (regesterForm.get("password")?.touched ||
      regesterForm.get("password")?.dirty)) { @if
      (regesterForm.get("password")?.getError("required")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.passwordrequired" | translate }}
      </div>
      } @else if (regesterForm.get("password")?.getError("pattern")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.passwordpattern" | translate }}
      </div>
      } }
    </div>

    <div class="d-flex flex-column gap-2">
      <label for="repassword">{{ "regester.repassword" | translate }}</label>
      <input
        formControlName="rePassword"
        class="form-control w-100"
        type="password"
        id="repassword"
      />

      @if (regesterForm.getError('mismatch') &&
      (regesterForm.get('rePassword')?.touched ||
      regesterForm.get('rePassword')?.dirty)) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.repassword" | translate }}
      </div>
      }
    </div>

    <div class="d-flex flex-column gap-2">
      <label for="phone">{{ "regester.phone" | translate }}</label>
      <input
        formControlName="phone"
        class="form-control w-100"
        type="text"
        id="phone"
      />

      @if (regesterForm.get("phone")?.errors &&
      (regesterForm.get("phone")?.touched || regesterForm.get("phone")?.dirty))
      { @if (regesterForm.get("phone")?.getError("required")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.phonereqired" | translate }}
      </div>
      } @else if (regesterForm.get("phone")?.getError("pattern")) {
      <div class="alert alert-danger" role="alert">
        {{ "regester.error.phonepattern" | translate }}
      </div>
      } }
    </div>

    <div class="d-flex flex-row gap-2 flex-wrap">
      <button
        class="btn btn-outline-secondary"
        [disabled]="regesterForm.invalid"
      >
        {{ "regester.new" | translate }} @if (loading) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </div>
  </form>
</div>
